<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['']" class="brand-link">
      <img src="assets/img/logo-final.svg" alt="AdminLTE Logo">
      <!-- <span class="brand-text font-weight-heavy">Sentalyze</span> -->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-close">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <!-- <li class="nav-item">
                <a href="./index.html" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>General</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Search</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index3.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Compare</p>
                </a>
              </li> -->
              <li class="nav-item">
                <a [routerLink]="['enterpriseAccess']" class="nav-link">
                  <i class="nav-icon fas fa-chart-pie"></i>
                  <p>
                    Generate Reports
                    <span class="right badge badge-danger">New</span>
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['enterpriseAccess']" class="nav-link">
                  <i class="nav-icon fas fa-comments"></i>
                  <p>
                    See posts
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['enterpriseAccess']" class="nav-link">
                  <i class="nav-icon fas fa-database"></i>
                  <p>
                    Custom Data Source
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['enterpriseAccess']" class="nav-link">
                  <i class="nav-icon fas fa-lightbulb"></i>
                  <p>
                    Advanced analytics
                  </p>
                </a>
              </li>
            </ul>
          </li>
          
          <!-- <li class="nav-item ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-clock"></i>
              <p>
                Time-series
                <span class="right badge badge-danger">beta</span>
              </p>
            </a>
            
          </li> -->
          <li class="nav-item">
            <a [routerLink]="['enterpriseAccess']" class="nav-link">
              <i class="nav-icon fas fa-search"></i>
              <p>
                Advance Search
              </p>
            </a>
          
          </li>
          <li class="nav-item">
            <a [routerLink]="['/feedback']" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Feedbacks
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['enterpriseAccess']" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                FAQs
              </p>
            </a>
          </li>
          <li class="nav-header">API</li>
          <li class="nav-item">
            <a [routerLink]="['enterpriseAccess']" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Documentation</p>
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
   <!-- Control Sidebar -->
   <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
