<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{tw_percent}}<sup style="font-size: 20px">%</sup></h3>

          <p style="margin-bottom: 0; font-size: 1.3rem;">{{tw}}</p>
        </div>
        <div class="icon">
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{tu_percent}}<sup style="font-size: 20px">%</sup></h3>

          <p style="margin-bottom: 0; font-size: 1.3rem;">{{tu}}</p>
        </div>
        <div class="icon">
          <i class="fab fa-tumblr"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{re_percent}}<sup style="font-size: 20px">%</sup></h3>

          <p style="margin-bottom: 0; font-size: 1.3rem;">{{re}}</p>
        </div>
        <div class="icon">
          <i class="fab fa-reddit-alien"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{yo_percent}}<sup style="font-size: 20px">%</sup></h3>

          <p style="margin-bottom: 0; font-size: 1.3rem;">{{yo}}</p>
        </div>
        <div class="icon">
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
  </div>