
    <div class="modal-content modal-wrapper">
      <div class="modal-header">
        <h4 class="modal-title">Server's not talking..</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We gather data from many sources, sometimes it takes too long.. :(</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-action-button" (click)="actionFunction()">Home</button>
        <button type="button" class="btn btn-primary" (click)="closeModal()">Retry</button>
      </div>
    </div>
