.parent {
    position: relative;
    width: 100%;
}
.child {
    position: relative;
    padding-bottom: calc(100% * 9 / 16);
}
.child > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.badge-purple {
    color: #fff;
    background-color: #5f4dee;
}
.badge{
    font-weight: 600;
    padding: .35em .35em;
    border: 2px solid #5f4dee;
}