<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h2 class="mb-1">About Us</h2>  
            </div>
            <div class="row">
                <p>At <b>Sentalyze</b> we analyze the sentiment of people at any given moment based upon their social media footprints.
                    We provide in-depth report about the emotion of the people about a given product, event, festival using real time analysis.
                    Do reach out to us for a larger collaboration!
                </p>
            </div>
            <div class="row">
                <h2>Meet our Amazing Team</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-2 order-lg-2 mr-5  text-white showcase-img"
                    style="background-image: url('assets/img/sharad.jpg');background-size:100% 100%;"></div>
                <div class="col-lg-3 order-lg-1 mr-5  my-auto showcase-text">
                   <h5>Founder & Mr. CEO</h5>
                    <i><b>"</b>Our CEO and part time Xbox player. A multi tasker and a great visionary! <b>"</b></i>          
                      </div>

                    <div class="col-lg-2 order-lg-4 mr-5  text-white showcase-img"
                    style="background-image: url('assets/img/nandan.jpg');background-size:100% 100%;"></div>
                <div class="col-lg-3 order-lg-3 mr-5 my-auto showcase-text">
                   
                    <h5>Architect</h5>
                    <i><b>"</b>Our chief architect and team captain. Our higly skilled problem solver. <b>"</b></i> 
                    <p>Over 6 years of experience in "Java, MuleSoft"</p>
                 </div>
                    
            </div>
            <div class="row no-gutters mt-5">
                <div class="col-lg-2 order-lg-2 mr-5  text-white showcase-img"
                    style="background-image: url('assets/img/abhishek.jpg');background-size:100% 100%;"></div>
                <div class="col-lg-3 order-lg-1 mr-5 my-auto showcase-text">
                   
                    <h5>DBA</h5>
                    <i><b>"</b>Our DBA and Music Enthusiast. Ever opimistic and ready for challenges. <b>"</b></i> 
                    <p>Over 6 years of experience in "Database Administration and Big Data scientist"</p>
                          </div>

                    <div class="col-lg-2 order-lg-4 mr-5 text-white showcase-img"
                    style="background-image: url('assets/img/shiny.jpg');background-size:100% 100%;"></div>
                <div class="col-lg-3 order-lg-3 mr-5 my-auto showcase-text">
                   
                    <h5>Full Stack Developer</h5>
                    <i><b>"</b>Our Developer and an Eager Learner <b>"</b></i> 
                                </div>
                    
            </div>
            <br><br>
           <div class="row float-right">Feel free to contact us at <b>info.sentalyze@gmail.com</b></div>
    </div>
</div>

