
    <div class="content-wrapper">
        <div class="container">
        <div class="imagebg"></div>
        <div class="row ">
            <div class="col-md-6 col-md-offset-3 form-container mx-auto my-5">
                <h2 style="margin-top:10px">Feedback</h2>
                <p> We’d love to hear your feedback! Your opinion matters. </p>
                <form role="form" method="post" id="reused_form" name="myform">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>How do you rate our product?</label>
                            <p>
                            <div class="rating">
                                <input type="radio" name="rating" id="rate10" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="10"><label for="rate10">10</label>
                                <input type="radio" name="rating" id="rate9" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="9"><label for="rate9">9</label>
                                <input type="radio" name="rating" id="rate8" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="8"><label for="rate8">8</label>
                                <input type="radio" name="rating" id="rate7" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="7"><label for="rate7">7</label>
                                <input type="radio" name="rating" id="rate6" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="6"><label for="rate6">6</label>
                                <input type="radio" name="rating" id="rate5" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="5"><label for="rate5">5</label>
                                <input type="radio" name="rating" id="rate4" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="4"><label for="rate4">4</label>
                                <input type="radio" name="rating" id="rate3" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="3"><label for="rate3">3</label>
                                <input type="radio" name="rating" id="rate2" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="2"><label for="rate2">2</label>
                                <input type="radio" name="rating" id="rate1" [(ngModel)]="userFeedback.experience"  #name="ngModel" value="1"><label for="rate1">1</label>

                            </div>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="comments"> Comments:</label>
                            <textarea class="form-control" type="textarea" name="comments" id="comments"
                                placeholder="Your Comments" maxlength="6000" rows="7" [(ngModel)]="userFeedback.msg"
                                #name="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="name"> Your Name:</label>
                            <input type="text" class="form-control" id="name" name="name"
                                [(ngModel)]="userFeedback.name" #name="ngModel" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="email"> Email:</label>
                            <input type="email" class="form-control" id="email" name="email"
                                [(ngModel)]="userFeedback.emailId" #name="ngModel" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button type="submit" id="btn1" (click)="submitFeedback()" class="btn btn-lg btn-block">
                                Post </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
